body{
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
textarea{
  background-color: transparent;
  backdrop-filter: blur(20px);
  height: 37vh;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: xx-large;
  text-decoration: none;
}
div{
  height: 37vh;
  width: 80vw;
  overflow-y: scroll;
  font-size: xx-large;
}
button{
  height: 100px;
  width: 100px;
  background-color: #4386f2;
  font-size: larger;
  border-radius: 16px;
  color: white;
  border-width: 0px;
  display: fixed;
}
button:hover{
  background-color:#2EE59D ;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  
}